@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap&subset=latin-ext');
* {
  --color-main: lightgreen;
  --color-decorative: gold;
  --color-item: dodgerblue;
  --color-primary: lightgray;
  --color-secondary: gray;
  --color-bg: #202020;
  --color-light: white;
  --color-dark: black;
  --color-fb: #3b5998;
  --color-gplus: #d34836;
  --color-yt: #c4302b;
  box-sizing: border-box;
}
*::after,
*::before {
  box-sizing: border-box;
}
body {
  font-family: 'Ubuntu', sans-serif;
  background-color: var(--color-bg);
  color: var(--color-primary);
  width: 100vw;
  height: 100vh;
  margin: 0;
}
button {
  font-family: 'Baloo', sans-serif;
}
/* input {
  border: none;
}
input:-webkit-autofill { 
  box-shadow:200px 200px 100px var(--color-bg) inset;
} */
input:-webkit-autofill,
input:-webkit-autofill:hover {
  border: 0;
  -webkit-text-fill-color: var(--color-primary);
  transition: background-color 0s ease-in-out 9999s;
}
/* input:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  transition: all 1s ease;
} */